<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/banner.jpeg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.nombre %></h2> 
		
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= producto.imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<%for (let i = 0; i < producto.comentarios.length; i++) {%>
							<article>
								<img src="<%= producto.comentarios[i].usuario.fotoPerfil %>" alt="">
								<div class="data">
									<p class="user">
										<strong><a href="/profile/<%=  producto.comentarios[i].usuario.id %>">
												<%= producto.comentarios[i].usuario.usuario %>
											</a></strong>
										<%= producto.comentarios[i].texto %>
									</p>
								</div>
							</article>
							<%}%>
					</section>
					<% if (user !== undefined) { %>
						<form class="form" action="/comment-add/<%= producto.id %>" method="post">
							<input 
								class="form-input"
								type="text"
								name="comentario"
								placeholder="Agregar comentario">

							<% if (errores.length > 0) { %>
								<% for (let i = 0; i < errores.length; i++) { %>
									<% if (errores[i].path === "comentario") { %>
										<label class="form-label"><%= errores[i].msg %></label>
									<% } %>
								<% } %>
							<% } %>
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
					<% } else { %>
						<p>Debes estar logueado para comentar.</p>
					<% } %>
					<div class="d-flex justify-content-around">
						<% if (condicion_editar_borrar) { %>
							<a href="/product-edit/<%= producto.id %>" class="buy-now-button">EDITAR</a>
							<a href="/product-delete/<%= producto.id %>" class="buy-now-button">BORRAR</a>
						<% } %>
						</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->


	<!-- footer -->
	
	<%-include('partials/footer')%>

	<!--footer -->

</body>	
</html>