<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %>

<body>
	<!-- Header -->

	<%-include('partials/header')%>

	<!-- /Header -->

	<!-- Banner -->
	<div class="banner">
		<img src="/images/banner.jpeg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->
	
	<!-- Novedades -->

			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Registrate</h2>
					</div>
					<form action="/store" method="post" class="form col-12 col-lg-8">
						<div class="form-group">
							<label for="email" class="form-label">Email</label>
							<input 
								class="form-input" 
								type="text" 
								name="email"
								placeholder="Escriba aquí su email">
								<% for (let i = 0; i < errores.length; i++) { %>
									<% if (errores[i].path === "email") { %>
										<label class="form-label text-danger font-weight-bold"><%= errores[i].msg %></label>
									<% } %>
								<% } %>
						</div>
						<div class="form-group">
							<label for="usuario" class="form-label">Usuario</label>
							<input 
								class="form-input" 
								type="text" 
								name="usuario"
								placeholder="Escriba aquí su nombre de usuario">
								<% for (let i = 0; i < errores.length; i++) { %>
									<% if (errores[i].path === "usuario") { %>
										<label class="form-label text-danger font-weight-bold"><%= errores[i].msg %></label>
									<% } %>
								<% } %>
						</div>
						<div class="form-group">
							<label for="contrasenia" class="form-label">Contraseña</label>
							<input 
								class="form-input" 
								type="password" 
								name="contrasenia"
								placeholder="Escriba aquí su contraseña">
								<% for (let i = 0; i < errores.length; i++) { %>
									<% if (errores[i].path === "contrasenia") { %>
										<label class="form-label text-danger font-weight-bold"><%= errores[i].msg %></label>
									<% } %>
								<% } %>
						</div>
						<div class="form-group">
							<label for="fecha" class="form-label">Fecha de nacimiento</label>
							<input 
								class="form-input" 
								type="date"
								name="fecha">
								<% for (let i = 0; i < errores.length; i++) { %>
									<% if (errores[i].path === "fecha") { %>
										<label class="form-label text-danger font-weight-bold"><%= errores[i].msg %></label>
									<% } %>
								<% } %>
						</div>
							<label for="dni" class="form-label">Número de documento</label>
							<input 
								class="form-input" 
								type="number" 
								name="dni"
								placeholder="Escriba aquí su dni">
								<% for (let i = 0; i < errores.length; i++) { %>
									<% if (errores[i].path === "dni") { %>
										<label class="form-label text-danger font-weight-bold"><%= errores[i].msg %></label>
									<% } %>
								<% } %>
						</div>
						<div class="form-group">
							<label for="fotoPerfil" class="form-label">Foto de perfil</label>
							<input 
								class="form-input" 
								type="text" 
								name="fotoPerfil"
								placeholder="Escriba aquí la url de su foto de perfil">
								<% for (let i = 0; i < errores.length; i++) { %>
									<% if (errores[i].path === "fotoPerfil") { %>
										<label class="form-label text-danger font-weight-bold"><%= errores[i].msg %></label>
									<% } %>
								<% } %>
						</div>
						<button class="btn buy-now-button" type="submit">Registrarme</button>
					</form>
				</div>
			</div>

	<!-- footer -->

	<%-include('partials/footer')%>

	<!-- /footer -->
</body>

</html>